<<<<<<< HEAD
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
=======
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
>>>>>>> b9f583f262a8dd34e551990956c14423fa91522e
